<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareAI</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="images/logo.png"></a>
            <div class ="nav-links">
                
                <ul> 
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href ="/signup">LOGIN/REGISTER</a></li>
                    <li><a href ="/blog">ARTICLES</a></li>
                    <li><a href ="#info">CONTACT</a></li>
                    
                </ul>
            </div>
           
        </nav>

        <div class="textbox">
            <h1>Care AI</h1>
            <p>One Step Health Monitoring Application with integrated AI ChatBot</p>
        </div>
    </section>
    <div id = "about">
<div class ="achievements">
    <link rel="stylesheet" href="css/about.css">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading"><b>Vision</b></p>
      <p class="work-text">Our vision for our healthcare tracking website is to empower users to take control of their health by providing them with the tools and information they need to make informed decisions.</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading"><b>Mission</b></p>
      <p class="work-text">The aim of our healthcare tracking website is to provide users with the means to not only keep track of their health but also to encourage them to take proactive measures towards enhancing physical health.</p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading"><b>Strategy</b></p>
      <p class="work-text">Our strategy for our healthcare tracking website is to optimise cutting-edge technology, such as our sensory health kit to provide users with the most accurate and reliable health status based on the data collected.</p>
    </div>
  </div>
</div>
<div class="about-me">
    <div class="about-me-text">
      <h2 style="line-height: 5rem; font-size: 40px" >About Us</h2>
      <p style="text-align: justify;">Welcome to our healthcare website, where we believe in providing you with the best tools and information to monitor your health. With our state-of-the-art technology, we can measure your body temperature, oxygen rate, and pulse rate within seconds. These vital signs are crucial in determining your basic health status, and our website can help you keep track of them easily.
By simply placing your finger on our non-invasive sensor, our technology will accurately measure your temperature, oxygen rate, and pulse rate. We will check your basic health status is good or not. If your readings fall within the normal range, you can rest assured that your body is functioning correctly. However, if your readings are not within the normal range, our website will provide you with recommendations to help you improve your health.
In addition to providing you with vital sign measurements, our website also features a vast array of health blogs that cover various topics. From fitness to nutrition and mental health, our blogs are a great resource for anyone looking to improve their overall well-being. Our team of experts curates these blogs to ensure that they are informative, accurate, and up-to-date.</p>
    </div>
    
  </div>
<div class="container">
      
    <h2 class="title" style="font-size: 40px">Contact Us</h2>
    <p class="text">
    <link rel="stylesheet" href="css/contact.css">

    </p>
    
    <div id="info">
      <div class="information">
        <img src="images/location.jpg" class="icon" alt="" />
        <p>University Of Petroleum And Energy Studies ,Dehradun Uttrakhand, India,	248007</p>
      </div>
      <div class="information">
        <img src="images/mail.jpg" class="icon" alt="" />
        <p>home@CareAI.com</p>
      </div>
      <div class="information">
        <img src="images/phone.png" class="icon" alt="" />
        <p>+91773662542</p>
      </div>
          </div>
    
    <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"2440b4080e2bcdf9e78432e54a0d09352","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
    <footer>
        <p>&copy; 2023 Healthcare Website. All Rights Reserved.</p>
      </footer>

</body>
</html>